$primary-color: #ffc700;
$text-color: #444;
$link-color: #444;
$rubik-light: "Rubik Light";
$rubik: "Rubik";
$rubik-medium: "Rubik Medium";
$kg-next-to-me: "KG Next to Me Solid";
$default-font: $kg-next-to-me;
